<div class="vh-100 d-flex flex-column p-5" style="width: calc(100vw - 220px)">
  <h1 class="fw-medium text-primary-emphasis mb-4">Расходы</h1>

  <div class="row row-cols-3">
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <div class="card-body">
          <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">
            Еда
          </h5>
          <a
            class="btn btn-primary d-inline-flex align-items-center py-2 px-3"
            type="button"
            href="/expenses-edit"
          >
            Редактировать
          </a>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <div class="card-body">
          <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">
            Жильё
          </h5>
          <a
            class="btn btn-primary d-inline-flex align-items-center py-2 px-3"
            type="button"
            href="/expenses-edit"
          >
            Редактировать
          </a>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <div class="card-body">
          <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">
            Здоровье
          </h5>
          <a
            class="btn btn-primary d-inline-flex align-items-center py-2 px-3"
            type="button"
            href="/expenses-edit"
          >
            Редактировать
          </a>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <div class="card-body">
          <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">
            Одежда
          </h5>
          <a
            class="btn btn-primary d-inline-flex align-items-center py-2 px-3"
            type="button"
            href="/expenses-edit"
          >
            Редактировать
          </a>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <div class="card-body">
          <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">
            Кафе
          </h5>
          <a
            class="btn btn-primary d-inline-flex align-items-center py-2 px-3"
            type="button"
            href="/expenses-edit"
          >
            Редактировать
          </a>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <div class="card-body">
          <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">
            Авто
          </h5>
          <a
            class="btn btn-primary d-inline-flex align-items-center py-2 px-3"
            type="button"
            href="/expenses-edit"
          >
            Редактировать
          </a>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-4 border border-2">
        <a
          href="/expenses-create"
          role="button"
          class="add-card card-body d-flex align-items-center justify-content-center text-decoration-none"
          style="height: 124px"
        >
          +
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1">
  <div
    class="modal-dialog my-0 vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="modal-content">
      <div class="modal-body p-4">
        <h5 class="modal-title text-center text-primary-emphasis mb-3">
          Вы действительно хотите удалить категорию?
        </h5>
        <div class="d-flex justify-content-center align-items-center">
          <button
            class="btn btn-success d-inline-flex align-items-center py-2 px-3"
            type="button"
          >
            Да, удалить
          </button>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
          >
            Не удалять
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
