<div class="vh-100 d-flex flex-column p-5" style="width: calc(100vw - 220px)">
    <h1 class="fw-medium text-primary-emphasis mb-4">Доходы</h1>

    <div class="row row-cols-3">
        <div class="col">
            <div class="card mb-4 rounded-4 border border-2">
                <div class="card-body">
                    <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">Депозиты</h5>
                    <button class="btn btn-primary d-inline-flex align-items-center py-2 px-3" type="button">
                        Редактировать
                    </button>
                    <button class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2" type="button">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-4 border border-2">
                <div class="card-body">
                    <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">Зарплата</h5>
                    <button class="btn btn-primary d-inline-flex align-items-center py-2 px-3" type="button">
                        Редактировать
                    </button>
                    <button class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2" type="button">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-4 border border-2">
                <div class="card-body">
                    <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">Сбережения</h5>
                    <button class="btn btn-primary d-inline-flex align-items-center py-2 px-3" type="button">
                        Редактировать
                    </button>
                    <button class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2" type="button">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-4 border border-2">
                <div class="card-body">
                    <h5 class="card-title fw-medium text-primary-emphasis fs-3 mb-3">Инвестиции</h5>
                    <button class="btn btn-primary d-inline-flex align-items-center py-2 px-3" type="button">
                        Редактировать
                    </button>
                    <button class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2" type="button">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-4 border border-2">
                <div role="button" class="add-card card-body d-flex align-items-center justify-content-center" style="height: 124px">
                    +
                </div>
            </div>
        </div>
    </div>
</div>