<div class="vh-100 d-flex flex-column p-5" style="width: calc(100vw - 220px)">
  <h1 class="fw-medium text-primary-emphasis mb-4">Доходы и расходы</h1>

  <div class="d-flex align-items-center mb-4">
    <a
      href="/income-expense-add"
      class="btn btn-success d-inline-flex align-items-center py-2 px-3"
      id="income-create"
      type="button"
    >
      Создать доход
    </a>
    <a
      href="/income-expense-add"
      class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
      id="expenses-create"
      type="button"
    >
      Создать расход
    </a>
  </div>

  <div class="d-flex align-items-center column-gap-3 mb-4">
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-secondary w-100 fw-semibold"
        data-filter="today"
      >
        Сегодня
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Неделя
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Месяц
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Год
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Все
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Интервал
      </button>
    </div>
    <span class="fw-semibold">с</span>

    <input
      id="startDate"
      class="form-control border-0 outline-0 bg-transparent p-0 text-decoration-underline text-secondary fw-semibold"
      type="text"
      placeholder="Дата"
    />
    <span class="fw-semibold">по</span>
    <input
      id="endDate"
      class="form-control border-0 outline-0 bg-transparent p-0 text-decoration-underline text-secondary fw-semibold"
      type="text"
      data-provide="datepicker"
      data-date-language="ru"
      placeholder="Дата"
    />
  </div>

  <table class="table align-middle">
    <thead>
      <tr class="table-tertiary border-top">
        <th scope="col" class="text-primary-emphasis text-center">
          № операции
        </th>
        <th scope="col" class="text-primary-emphasis text-center">Тип</th>
        <th scope="col" class="text-primary-emphasis text-center">Категория</th>
        <th scope="col" class="text-primary-emphasis text-center">Сумма</th>
        <th scope="col" class="text-primary-emphasis text-center">Дата</th>
        <th scope="col" class="text-primary-emphasis text-center">
          Комментарий
        </th>
        <th scope="col" class="text-primary-emphasis"></th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr>
        <th class="text-center">1</th>
        <td class="text-center text-success">доход</td>
        <td class="text-center">зарплата</td>
        <td class="text-center">500$</td>
        <td class="text-center">11.09.2022</td>
        <td class="text-center"></td>
        <td class="d-flex gap-2 justify-content-end">
          <div class="delete-action">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              role="button"
              viewBox="0 0 16 16"
              data-bs-toggle="modal"
              data-bs-target="#modal"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </div>
          <a class="edit-action text-black" href="/income-expense-edit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              role="button"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
              />
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <th class="text-center">2</th>
        <td class="text-center text-danger">расход</td>
        <td class="text-center">жилье</td>
        <td class="text-center">2500$</td>
        <td class="text-center">11.09.2022</td>
        <td class="text-center"></td>
        <td class="d-flex gap-2 justify-content-end">
          <div class="delete-action">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#modal"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </div>
          <a class="edit-action text-black" href="/income-expense-edit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              role="button"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
              />
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="modal" tabindex="-1">
  <div
    class="modal-dialog my-0 vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="modal-content">
      <div class="modal-body p-4">
        <h5 class="modal-title text-center text-primary-emphasis mb-3">
          Вы действительно хотите удалить операцию?
        </h5>
        <div class="d-flex justify-content-center align-items-center">
          <button
            class="btn btn-success d-inline-flex align-items-center py-2 px-3"
            type="button"
          >
            Да, удалить
          </button>
          <button
            class="btn btn-danger d-inline-flex align-items-center py-2 px-3 ms-2"
            type="button"
          >
            Не удалять
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
