<div class="vh-100 d-flex flex-column p-5" style="width: calc(100vw - 220px)">
  <h1 class="fw-medium text-primary-emphasis mb-4">Главная</h1>

  <div class="d-flex align-items-center column-gap-3 mb-4">
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-secondary w-100 fw-semibold"
        data-filter="today"
      >
        Сегодня
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Неделя
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Месяц
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Год
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Все
      </button>
    </div>
    <div style="width: 100px">
      <button
        type="button"
        class="btn btn-tertiary w-100 border border-secondary text-secondary fw-semibold"
        data-filter="week"
      >
        Интервал
      </button>
    </div>
    <span class="fw-semibold">с</span>

    <input
      id="startDate"
      class="form-control border-0 outline-0 bg-transparent p-0 text-decoration-underline text-secondary fw-semibold"
      type="text"
      placeholder="Дата"
      data-provide="datepicker"
    />
    <span class="fw-semibold">по</span>
    <input
      id="endDate"
      class="form-control border-0 outline-0 bg-transparent p-0 text-decoration-underline text-secondary fw-semibold"
      type="text"
      data-provide="datepicker"
      placeholder="Дата"
    />
  </div>

  <div class="w-100 d-flex gap-5 mt-5">
    <div style="width: 437px">
      <h2 class="text-center fw-medium text-primary-emphasis mb-3">Доходы</h2>
      <div>
        <canvas id="income-pie" width="360"></canvas>
      </div>
    </div>
    <div
      class="align-self-end"
      style="width: 1px; height: 450px; background-color: #d9d9d9"
    ></div>
    <div style="width: 437px">
      <h2 class="text-center fw-medium text-primary-emphasis mb-3">Расходы</h2>
      <div>
        <canvas id="expenses-pie" width="360"></canvas>
      </div>
    </div>
  </div>
</div>
