@import "~bootstrap/scss/bootstrap";

.nav-link {
  font-size: 14px;
}

.username-bg {
  background: #d9d9d9;
}

.sidebar {
  .nav-link-button {
    svg {
      transition: transform 0.3s ease-in-out;
    }

    &.active {
      svg path {
        fill: #fff;
      }
    }

    &.expanded {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.form-signin, .form-signup {
  .form-check {
    .form-check-label {
      font-size: 12px;
    }
  }
  .input-group-text {
    width: 38px;
  }
  .form-link {
    font-size: 12px;
  }

}
